NODE_ENV=development
TARGET_ENV=staging
FRONTEND_URL=http://localhost:5173
WORKER_PROXY_URL=https://cloudflare-worker.com
GAS_SECRET=my_secret

GCC_SERVICE_ACCOUNT_EMAIL=service-account@project-name.iam.gserviceaccount.com
GCC_SERVICE_ACCOUNT_ID=serviceaccountid123
GCC_SERVICE_ACCOUNT_KEY_PATH=./backend/credentials/service-account_key.json

PRODUCTION_SPREADSHEET_ID=<<spreadsheetID>>
STAGING_SPREADSHEET_ID=<<stagingSpreadsheetID>>

PRODUCTION_SITE_URL=https://myurl.org
WOO_PROD_CONSUMER_KEY=<<myConsumerKey>>
WOO_PROD_CONSUMER_SECRET=<<myConsumerSecret>>
STAGING_SITE_URL=https://staging.myurl.org
WOO_STAGING_CONSUMER_KEY=<<myStagingConsumerKey>>
WOO_STAGING_CONSUMER_SECRET=<<myStagingConsumerSecret>>

OAUTH_CLIENT_ID=myID.apps.googleusercontent.com
OAUTH_CLIENT_SECRET=mysecret123

SESSION_SECRET=randomstring
